/* Work Sans font from google font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* shared styles */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

button.btn-primary {
  border: none;
  background: #ff42a5;
  padding: 13px 27px;
  border-radius: 19px;
  color: #ffff;
  text-transform: uppercase;
}
button.btn-primary:hover {
  cursor: pointer;
}
.highlight-text {
  background: linear-gradient(180deg, #f948b2, #8758f1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}

/* Header style start from here  */
.header {
  background-color: #ffffff;
  box-shadow: 3px 0px 6px #888888;
  padding: 19px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-simple-menus {
  display: flex;
}
.nav-menus ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-menus ul li {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #3c354f;
}

.nav-menus ul li:hover {
  cursor: pointer;
}

.follow-us-icon {
  display: flex;
  align-items: center;
  background: rgba(11, 2, 35, 0.1);
  padding: 7px;
  border-radius: 7px;
}

.follow-us-icon img {
  width: 32px;
  height: 31px;
  margin-left: 8px;
}
span.nav-logo img {
  width: 55px;
  height: 32px;
  margin-right: 10px;
}

.nav-logo-title {
  font-size: 33px;
  font-weight: 700;
}
.nav-title-color {
  color: #ff42a5;
}

/* Banner section styles here  */
.play-like-section {
  display: flex;
  justify-content: space-between;
}
.play-section-wrapper {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-position: left;
}
.play-like-content {
  margin-top: 160px;
}
.play-like-img {
  width: 500px;
  margin-top: 24px;
}
.play-like-img img {
  width: 100%;
}

.play-like-content h2 {
  font-size: 35px;
  font-weight: 600;
}

.play-like-content h1 {
  background: linear-gradient(180deg, #f948b2, #8758f1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 63px;
  font-weight: 800;
  margin-bottom: 15px;
}

.play-like-content p {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.play-like-content p img {
  margin-right: 8px;
  width: 20px;
  height: 21px;
}

button.btn-goRogue {
  border: none;
  background: #4ec5f7;
  padding: 13px 20px;
  border-radius: 19px;
  color: #ffff;
  text-transform: uppercase;
  margin-left: 35px;
  margin-top: 10px;
}
button.btn-goRogue:hover {
  cursor: pointer;
}

/* we are gamer section style start from here  */
.we-are-gamer {
  display: flex;
  margin-top: 15px;
}

.we-are-gamer-img img {
  width: 100%;
}
.we-are-gamer-content {
  width: 550px;
  text-align: right;
  margin-top: 87px;
}

p.gamer-pra {
  color: #534c64;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 23px;
}
.we-are-gamer-content p {
  color: #534c64;
  font-weight: 500;
  margin-top: 20px;
}
.we-are-gamer-content h4 {
  color: #534c64;
  font-size: 20px;
}

/* Online Games section style in here  */
.onlilne-game {
  margin-top: 60px;
}

h2.online-game-title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
small.we-are-gamer-pra {
  text-align: center;
  display: block;
  color: #534c64;
  margin: 15px 0px;
}
.online-game-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 35px;
}
.box {
  width: 250px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
#box1 {
  background-image: url("../images/Rectangle\ 4.png");
}
#box2 {
  background-image: url("../images/Rectangle\ 5.png");
}
#box3 {
  background-image: url("../images/Rectangle\ 7.png");
}
#box4 {
  background-image: url("../images/Rectangle\ 6.png");
}

/* Play instant section style is here  */
.play-instant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -17px;
}
.play-instant-contant {
  margin-left: 12%;
}
h3.play-instant-title {
  width: 250px;
  font-size: 32px;
  font-weight: 800;
  color: #0b0223d9;
  text-align: right;
  margin-bottom: 13px;
}
p.play-instant-pra {
  width: 250px;
  text-align: right;
  color: #534c64;
  font-size: 14px;
  line-height: 23px;
}

.play-instanto-img {
  width: 41%;
  margin-top: 120px;
}
.play-instant-main-image {
  width: 100%;
}
img.play-instant-ad-image {
  position: relative;
  bottom: 160px;
  width: 191px;
  border: 1px solid salmon;
  left: -85px;
}
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* Mobile Responsive  */
@media screen and (max-width: 576px) {
  /* header section responsive style  */
  .header {
    box-shadow: 0px 0px 0px #888888;
  }
  .nav {
    flex-direction: column;
  }
  .nav-menus ul {
    flex-direction: column;
  }
  .nav-logo {
    margin: 0 auto;
  }
  .nav-simple-menus {
    flex-direction: column;
  }
  .nav-menus ul li {
    margin-right: 0px;
    margin-top: 10px;
  }
  .nav-simple-menus {
    margin: 20px 0px;
  }
  /* Banner section responsive style  */
  .play-like-section {
    flex-direction: column-reverse;
  }
  .play-like-content {
    margin-top: 34px;
    margin-left: 25%;
  }
  .play-section-wrapper {
    background: none;
  }
  .play-like-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-like-img img {
    width: 80%;
  }
  button.btn-goRogue {
    margin-left: 0px;
  }
  /* We are gammer section responsive style is here  */
  .we-are-gamer {
    flex-direction: column;
    margin: 0 auto;
  }
  .we-are-gamer-img {
    margin-left: 8%;
  }
  .we-are-gamer-content {
    text-align: center;
    width: 80vw;
    margin-left: 12%;
    margin-top: 0px;
  }

  /* Online game section responsive style in here  */
  .onlilne-game {
    display: none;
  }
  /* Play instant section responsive style is here  */
  .play-instant {
    flex-direction: column;
  }
  .play-instant-contant {
    margin-top: 70px;
    margin-left: 0%;
  }
  h3.play-instant-title {
    text-align: center;
  }
  p.play-instant-pra {
    text-align: center;
  }
  .play-instanto-img {
    width: 64%;
    margin-top: 30px;
    margin-left: 11%;
  }
  img.play-instant-ad-image {
    bottom: 119px;
    width: 140px;
    left: -58px;
  }
}

/* Tablet responsive style  */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .nav-logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .nav-menus {
    margin: 0 auto;
  }
  /* Banner section responsive style is here  */
  .play-like-section {
    flex-direction: column;
  }
  .play-like-content {
    margin-top: 34px;
    margin-left: 25%;
  }
  .play-section-wrapper {
    background: none;
  }
  .play-like-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-like-img img {
    width: 80%;
    margin-left: 25%;
  }
  button.btn-goRogue {
    margin-left: 0px;
  }
  /* We are gammer section responsive style is here  */
  .we-are-gamer {
    flex-direction: column-reverse;
    margin: 0 auto;
    /* display: none; */
  }
  .we-are-gamer-content h2 {
    text-align: center;
  }
  /* .gamer-pra {
    text-align: center;
  } */
  .gamer-btn {
    margin-left: 39%;
  }
  .we-are-gamer-img {
    margin-left: 8%;
  }
  .we-are-gamer-content {
    text-align: left;
    width: 80vw;
    margin-left: 12%;
    margin-top: 36px;
  }
  /* Online game section responsive style in here  */
  .onlilne-game {
    display: none;
  }
}
