@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1140px;
  margin: 0px auto;
}
button.btn-primary {
  border: none;
  background: rgb(255, 66, 165);
  padding: 13px 27px;
  border-radius: 19px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
button.btn-primary:hover {
  cursor: pointer;
}
.highlight-text {
  background: linear-gradient(180deg, #f948ae 0%, #8758ef 100%);
  color: transparent;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(136, 136, 136) 3px 0px 6px;
  padding: 19px 0px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-simple-menus {
  display: flex;
}
.nav-menus ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-menus ul li {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(60, 53, 79);
}
.nav-menus ul li:hover {
  cursor: pointer;
}
.follow-us-icon {
  display: flex;
  align-items: center;
  background: rgba(11, 2, 35, 0.1);
  padding: 7px;
  border-radius: 7px;
}
.follow-us-icon img {
  width: 32px;
  height: 31px;
  margin-left: 8px;
}
span.nav-logo img {
  width: 55px;
  height: 32px;
  margin-right: 10px;
}
.nav-logo-title {
  font-size: 33px;
  font-weight: 700;
}
.nav-title-color {
  color: rgb(255, 66, 165);
}
.play-like-section {
  display: flex;
  justify-content: space-between;
}
.play-section-wrapper {
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  background-position: left center;
}
.play-like-content {
  margin-top: 160px;
}
.play-like-img {
  width: 500px;
  margin-top: 24px;
}
.play-like-img img {
  width: 100%;
}
.play-like-content h2 {
  font-size: 35px;
  font-weight: 600;
}
.play-like-content h1 {
  color: transparent;
  font-size: 63px;
  font-weight: 800;
  margin-bottom: 15px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.play-like-content p {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.play-like-content p img {
  margin-right: 8px;
  width: 20px;
  height: 21px;
}
button.btn-goRogue {
  border: none;
  background: rgb(78, 197, 247);
  padding: 13px 20px;
  border-radius: 19px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-left: 35px;
  margin-top: 10px;
}
button.btn-goRogue:hover {
  cursor: pointer;
}
.we-are-gamer {
  display: flex;
  margin-top: 15px;
}
.we-are-gamer-img img {
  width: 100%;
}
.we-are-gamer-content {
  width: 550px;
  text-align: right;
  margin-top: 87px;
}
p.gamer-pra {
  color: rgb(83, 76, 100);
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 23px;
}
.we-are-gamer-content p {
  color: rgb(83, 76, 100);
  font-weight: 500;
  margin-top: 20px;
}
.we-are-gamer-content h4 {
  color: rgb(83, 76, 100);
  font-size: 20px;
}
.onlilne-game {
  margin-top: 60px;
}
h2.online-game-title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
small.we-are-gamer-pra {
  text-align: center;
  display: block;
  color: rgb(83, 76, 100);
  margin: 15px 0px;
}
.online-game-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 35px;
}
.box {
  width: 250px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
p.box-caption {
  position: relative;
  bottom: -324px;
}
#box1 {
  background-image: url("../images/Rectangle 4.png");
}
#box2 {
  background-image: url("../images/Rectangle 5.png");
}
#box3 {
  background-image: url("../images/Rectangle 7.png");
}
.play-now-btn,
.play-now-text {
}
span.hover-play-accesories {
  position: relative;
  top: 34%;
  left: 39%;
  display: none;
}
#box3:hover {
  background-image: linear-gradient(
      135deg,
      rgba(45, 45, 45, 0.8),
      rgba(74, 74, 74, 0.8)
    ),
    url("../images/Rectangle 7.png");
  cursor: pointer;
  border: 2px solid rgb(11, 2, 35);
  border-radius: 10px;
}
#box3:hover span.hover-play-accesories {
  display: block;
  color: red;
}
#box4 {
  background-image: url("../images/Rectangle 6.png");
}
.play-instant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -17px;
}
.play-instant-contant {
  margin-left: 12%;
}
h3.play-instant-title {
  width: 250px;
  font-size: 32px;
  font-weight: 800;
  color: rgba(11, 2, 35, 0.85);
  text-align: right;
  margin-bottom: 13px;
}
p.play-instant-pra {
  width: 250px;
  text-align: right;
  color: rgb(83, 76, 100);
  font-size: 14px;
  line-height: 23px;
}
.play-instanto-img {
  width: 41%;
  margin-top: 120px;
}
.play-instant-main-image {
  width: 100%;
}
img.play-instant-ad-image {
  position: relative;
  bottom: 160px;
  width: 191px;
  border: 1px solid salmon;
  left: -85px;
}
.action-btn-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-self: center;
  margin-top: -76px;
}
.action-btn:nth-last-child(-n + 4) {
  margin-left: 50px;
}
.action-btn {
  width: 164px;
  display: flex;
  align-items: center;
  padding: 9px 12px;
}
.action-btn:hover {
  border: 1px solid rgb(255, 66, 165);
  border-radius: 34px;
  color: rgb(255, 66, 165);
  cursor: pointer;
}
.action-btn small:hover {
  color: rgb(255, 66, 165);
}
.action-btn small {
  font-size: 13px;
  color: rgb(11, 2, 35);
}
.action-btn img {
  width: 30px;
  margin-right: 9px;
}
.footer {
  background-color: rgb(11, 2, 35);
  width: 100vw;
  padding: 102px 0px;
  margin-top: 88px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}
.footer-logo img {
  margin-right: 10px;
}
.footer-menus {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  width: 600px;
  margin: 40px auto 0px;
}
span.footer-menus a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer-icon {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 454px;
  align-items: center;
  margin-top: 41px;
  margin-left: 38vw;
}
span.footer-icon img {
  width: 33px;
}
.footer-policy {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 623px;
  margin: 40px auto 0px;
  justify-items: center;
}
.footer-policy a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.51);
  font-size: 13px;
}

.copyright {
  text-align: center;
  display: block;
  margin-top: 25px;
  color: #ffffff2e;
}
@media screen and (max-width: 576px) {
  .header {
    box-shadow: rgb(136, 136, 136) 0px 0px 0px;
  }
  .nav {
    flex-direction: column;
  }
  .nav-menus ul {
    flex-direction: column;
  }
  .nav-logo {
    margin: 0px auto;
  }
  .nav-simple-menus {
    flex-direction: column;
  }
  .nav-menus ul li {
    margin-right: 0px;
    margin-top: 10px;
  }
  .nav-simple-menus {
    margin: 20px 0px;
  }
  .play-like-section {
    flex-direction: column-reverse;
  }
  .play-like-content {
    margin-top: 34px;
    margin-left: 25%;
  }
  .play-section-wrapper {
    background: none;
  }
  .play-like-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-like-img img {
    width: 80%;
  }
  button.btn-goRogue {
    margin-left: 0px;
  }
  .we-are-gamer {
    flex-direction: column;
    margin: 0px auto;
  }
  .we-are-gamer-img {
    margin-left: 8%;
  }
  .we-are-gamer-content {
    text-align: center;
    width: 80vw;
    margin-left: 12%;
    margin-top: 0px;
  }
  .onlilne-game {
  }
  .online-game-cards {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25%;
  }
  .box {
    margin-bottom: 90px;
  }
  .play-instant {
    flex-direction: column;
  }
  .play-instant-contant {
    margin-top: 70px;
    margin-left: 0%;
  }
  h3.play-instant-title {
    text-align: center;
  }
  p.play-instant-pra {
    text-align: center;
  }
  .play-instanto-img {
    width: 64%;
    margin-top: 30px;
    margin-left: 11%;
  }
  img.play-instant-ad-image {
    bottom: 119px;
    width: 140px;
    left: -58px;
  }
  .action-btn-section {
    grid-template-columns: repeat(3, 1fr);
    margin-top: -66px;
    gap: 0px;
  }
  .action-btn:nth-last-child(-n + 4) {
    margin-left: 0px;
  }
  .action-btn {
    width: 136px;
    display: flex;
    align-items: center;
    padding: 9px 3px;
  }
  .action-btn small {
    color: rgb(11, 2, 35);
  }
  .footer {
    width: 100vw;
  }
  .footer-menus {
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
  }
  .footer-icon {
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    margin-left: 16vw;
  }
  .footer-icon a {
    margin-top: 15px;
  }
  .footer-policy {
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
  }
  .footer-policy a {
    margin-top: 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .nav {
    flex-direction: column;
    margin-right: 0%;
  }
  .nav-logo {
    margin: 0px auto 20px;
  }
  .nav-menus {
    margin: 0px auto;
  }
  .play-like-section {
    flex-direction: column;
  }
  .play-like-content {
    margin-top: 34px;
    margin-left: 35%;
  }
  .play-section-wrapper {
    background: none;
  }
  .play-like-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-like-img img {
    width: 80%;
    margin-left: 58%;
  }
  button.btn-goRogue {
    margin-left: 0px;
  }
  .we-are-gamer {
    flex-direction: column-reverse;
    margin: 0px auto;
  }
  .we-are-gamer-content h2 {
    text-align: center;
  }
  .gamer-btn {
    margin-left: 39%;
  }
  .we-are-gamer-img {
    margin-left: 16%;
    width: 70%;
  }
  .we-are-gamer-content {
    text-align: left;
    margin-left: 20%;
    margin-top: 36px;
    width: 70%;
  }
  .onlilne-game {
  }
  .play-instant {
    flex-direction: column-reverse;
  }
  .play-instant-contant {
    margin-top: -65px;
    margin-left: 4%;
  }
  h3.play-instant-title {
    text-align: center;
  }
  p.play-instant-pra {
    text-align: center;
  }
  .play-instanto-img {
    width: 46%;
    margin-top: 30px;
    margin-left: 4%;
  }
  img.play-instant-ad-image {
    bottom: 119px;
    width: 140px;
    left: -58px;
  }
  .action-btn-section {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 27px;
    gap: 0px;
    width: 77vw;
    margin-left: 20%;
  }
  .action-btn:nth-last-child(-n + 4) {
    margin-left: 0px;
  }
  .action-btn {
    width: 213px;
    display: flex;
    align-items: center;
    padding: 9px 1px;
  }
  .action-btn small {
    color: rgb(11, 2, 35);
  }
  .footer {
    width: 100vw;
  }
  .footer-menus {
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
  }
  .footer-menus a {
    margin-top: 20px;
  }
  .footer-icon {
    grid-template-columns: repeat(2, 1fr);
    width: 404px;
    margin-left: 35vw;
  }
  .footer-icon a {
    margin-top: 15px;
  }
  .footer-policy {
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
  }
  .footer-policy a {
    margin-top: 15px;
  }
  .onlilne-game {
  }
  .online-game-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 12%;
  }
  .box {
    margin-bottom: 90px;
  }
}
